<%- include('../partials/header') %>
<div>
    <h1>Add a new device</h1>

    <div>
        <form action="/device" method="post">
            <div>
                <input type="text" name="deviceName" placeholder="Enter device name...">
                <input type="submit">
            </div>
        </form>
    </div>
    <a href="/devices">See all devices</a>
</div>
<%- include('../partials/footer') %>


