<%- include('../partials/header') %>
<div class="row">
    <h1>Sign Up</h1>
    <div>
        <form action="/register" method="post">
            <div>
                <input type="text" name="name" placeholder="Full name" required>
            </div>
            <div>
                <input type="text" name="username" placeholder="username" required>
            </div>
            <div>
                <input type="email" name="email" placeholder="E-mail" required>
            </div>
            <div>
                <input type="password" name="password" placeholder="password" required>
            </div>
            <div>
                <button>Sign Up!</button>
            </div>
        </form>
        <!--<a href="/campgrounds">Go Back</a>-->
    </div>
    <p>Already registered? <a href="/login">Login now</a></p>
</div>
<%- include('../partials/footer') %>